def parse_S(tokens):
    if tokens:
        if tokens[0]=='a':
            tokens.pop(0)
            return True
        elif tokens[0] in['+','-']:
            tokens.pop(0)
            if parse_S(tokens) and parse_S(tokens):
                return True
    return False
def recursive_descent_parser_S(input_string):
    if parse_S(input_string) and not input_string:
        return "accept"
    else:
        return "error"
while True:
    try:
        input_string=list(input())
        print(recursive_descent_parser_S(input_string))
    except:
        break
